<section class="section is-medium">
  <h1 class="title has-text-centered is-italic">ComicDiscover.com</h1>
  <div class="columns is-centered is-medium">
    <div class="column is-half is-narrow">
      <div class="box">
        {{diagnostic}}
        <form (ngSubmit)="onSubmit(registro)" #registro="ngForm">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" [ngClass]="{ 'is-danger': name.errors?.minlength }" type="text" name="name" placeholder="e.g Alex Smith"
                minlength="3" [(ngModel)]="model.name" #name="ngModel" required>
              <p *ngIf="name.errors?.minlength" class="help is-danger">This name is invalid</p>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" [ngClass]="{ 'is-danger': email.errors?.pattern }" type="email" name="email" placeholder="e.g. alexsmith@gmail.com"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="model.email" #email="ngModel" required>
              <p *ngIf="email.errors?.pattern" class="help is-danger">This email is invalid</p>
            </div>
          </div>

          <div class="control has-text-centered">
            <button class="button is-link is-outlined is-medium" [disabled]="!registro.valid" type="submit">Go to it!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
