<section class="section">
  <h1 class="title has-text-centered is-italic">ComicDiscover.com</h1>
  <div class="columns is-multiline">
    <div class="column is-4" *ngFor="let character of characters">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{character.thumbnail.path}}/standard_fantastic.{{character.thumbnail.extension}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ character.name }}</p>
            </div>
          </div>

          <div class="content">
            <p>
              {{ character.description }}
            </p>
            <br>
            <div class="buttons is-centered">
              <a [href]="url.url" (click)="handleClickUrls(character.name, url.url)" *ngFor="let url of character.urls" target="_blank" class="button is-info is-outlined"> {{ url.type | capitalize }} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
